In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
#import plotly.express as px
import warnings
warnings.filterwarnings('ignore')
%matplotlib inline

In [8]:
url='https://raw.githubusercontent.com/nileshparab42/Car-Dekho-Selling-Price-Prediction/refs/heads/master/car-dataset.csv'
df=pd.read_csv(url)

In [9]:
df.head()

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner
0,Maruti 800 AC,2007,60000,70000,Petrol,Individual,Manual,First Owner
1,Maruti Wagon R LXI Minor,2007,135000,50000,Petrol,Individual,Manual,First Owner
2,Hyundai Verna 1.6 SX,2012,600000,100000,Diesel,Individual,Manual,First Owner
3,Datsun RediGO T Option,2017,250000,46000,Petrol,Individual,Manual,First Owner
4,Honda Amaze VX i-DTEC,2014,450000,141000,Diesel,Individual,Manual,Second Owner

In [10]:
df.isnull().sum()

name             0
year             0
selling_price    0
km_driven        0
fuel             0
seller_type      0
transmission     0
owner            0
dtype: int64

In [12]:
df['name'].unique()

array(['Maruti 800 AC', 'Maruti Wagon R LXI Minor',
       'Hyundai Verna 1.6 SX', ..., 'Mahindra Verito 1.5 D6 BSIII',
       'Toyota Innova 2.5 VX (Diesel) 8 Seater BS IV',
       'Hyundai i20 Magna 1.4 CRDi'], dtype=object)

In [18]:
#Getting all diff types of features 
num_features=[feature for feature in df.columns if df[feature].dtype !='0']
print('Num of Numrical Features :', len(num_features))
cat_features=[feature for feature in df.columns if df[feature].dtype =='0']
print('Num of Catergorical Features :', len(cat_features))
discrete_features=[feature for feature in num_features if len(df[feature].unique())<=25]
print('Num of Discrete Features :', len(discrete_features))
continuous_features=[feature for feature in num_features if feature not in discrete_features]
print('Num of Continuous Features :', len(continuous_features))

Num of Numrical Features : 8
Num of Catergorical Features : 0
Num of Discrete Features : 4
Num of Continuous Features : 4

In [14]:
#indep and dep
from sklearn.model_selection import train_test_split
X=df.drop(['selling_price'],axis=1)
y=df['selling_price']

In [19]:
X.head()

,name,year,km_driven,fuel,seller_type,transmission,owner
0,Maruti 800 AC,2007,70000,Petrol,Individual,Manual,First Owner
1,Maruti Wagon R LXI Minor,2007,50000,Petrol,Individual,Manual,First Owner
2,Hyundai Verna 1.6 SX,2012,100000,Diesel,Individual,Manual,First Owner
3,Datsun RediGO T Option,2017,46000,Petrol,Individual,Manual,First Owner
4,Honda Amaze VX i-DTEC,2014,141000,Diesel,Individual,Manual,Second Owner

Feature encoding and scalling

In [21]:
len(df['name'].unique())

1491

In [22]:
df['name'].value_counts()

name
Maruti Swift Dzire VDI                  69
Maruti Alto 800 LXI                     59
Maruti Alto LXi                         47
Hyundai EON Era Plus                    35
Maruti Alto LX                          35
                                        ..
Hyundai Santro AT                        1
Hyundai Santro Xing XS eRLX Euro III     1
Honda Amaze S Petrol BSIV                1
Tata Indigo CS LS (TDI) BS-III           1
Volkswagen CrossPolo 1.2 MPI             1
Name: count, Length: 1491, dtype: int64

In [23]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
X['name']=le.fit_transform(X['name'])

In [27]:
X.head()

   name  year  km_driven    fuel seller_type transmission         owner
0   775  2007      70000  Petrol  Individual       Manual   First Owner
1  1041  2007      50000  Petrol  Individual       Manual   First Owner
2   505  2012     100000  Diesel  Individual       Manual   First Owner
3   118  2017      46000  Petrol  Individual       Manual   First Owner
4   279  2014     141000  Diesel  Individual       Manual  Second Owner

In [29]:
len(df['seller_type'].unique()),len(df['fuel'].unique()),len(df['transmission'])

(3, 5, 4340)

In [30]:
num_features=X.select_dtypes(exclude="object").columns
onehot_columns=['seller_type','fuel_type','transmission']
from sklearn.preprocessing import OneHotEncoder,StandardScaler
from sklearn.compose import ColumnTransformer
numeric_transformer=StandardScaler()
oh_transformer=OneHotEncoder(drop='first')
preprocessor=ColumnTransformer(
    [
    ('OneHotEncoder',oh_transformer,onehot_columns),
    ("StandardScaler",numeric_transformer,num_features)
    ],remainder='passthrough'
)

In [ ]:
X=preprocessor.fit_transform(X)

In [ ]:
pd.DataFrame(X)

In [ ]:
X_train,X_test,y_train,y_test=train_test_split(X,y,X_test)
X_train.shape,X_test.shape

Model Training and Model Selection

In [ ]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LinearRegression
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import r2_score,mean_absolute_percentage_error,mean_squared_error

In [ ]:
def evaluate_model(true,predicted):

In [ ]:
)